.game {
  padding-top: 50px;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .gameList {
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 350px;
    z-index: 100;
    background: #f4d4bd;
    font-family: "Balsamiq Sans", sans-serif; }
    .gameListEnemy {
      border-bottom-left-radius: 10px;
      right: 0; }
    .gameListPlayer {
      left: 0; }
    .gameListBlock {
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: grid;
      justify-content: center;
      column-gap: 10px;
      grid-template-areas: "img stats";
      border-bottom: 1px solid saddlebrown; }
      .gameListBlock:last-child {
        border-bottom: none; }
      .gameListBlock__stats {
        padding: 10px;
        width: 180px;
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px; }
        .gameListBlock__statsLine {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .gameListBlock__statsLine img:hover {
            cursor: pointer; }
      .gameListBlock__img {
        width: 90px;
        height: 90px; }
        .gameListBlock__img img {
          width: 100%; }
    .gameListHeader {
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      text-align: center;
      border-bottom: 1px solid saddlebrown; }
  .gameContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    z-index: 11; }
    .gameContentHeader {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-family: "Acme", sans-serif;
      color: #fff;
      z-index: 10; }
    .gameContentBoard {
      display: flex;
      justify-content: center;
      column-gap: 100px; }
      .gameContentBoard__block {
        display: flex;
        width: 120px;
        height: 120px;
        background: rgba(0, 0, 0, 0.6);
        position: relative; }
        .gameContentBoard__block:nth-child(1) {
          border-top-left-radius: 20px; }
        .gameContentBoard__block:nth-child(4) {
          border-top-right-radius: 20px; }
        .gameContentBoard__block:nth-child(13) {
          border-bottom-left-radius: 20px; }
        .gameContentBoard__block:nth-child(16) {
          border-bottom-right-radius: 20px; }
        .gameContentBoard__block:hover {
          cursor: pointer; }
        .gameContentBoard__block__stats {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 20px;
          height: 20px;
          background: rgba(0, 0, 0, 0.6);
          z-index: 20; }
        .gameContentBoard__block__hp {
          display: flex;
          justify-content: space-between;
          width: 100%;
          top: 0;
          left: 0;
          border: 1px solid #cccccc;
          border-radius: 1px; }
          .gameContentBoard__block__hpBlock {
            height: 18px;
            background: green; }
            .gameContentBoard__block__hpBlock__text {
              position: absolute;
              font-weight: 900;
              color: #fff0f4;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -45%); }
        .gameContentBoard__block__damage {
          bottom: 0;
          left: 0; }
        .gameContentBoard__block__armor {
          bottom: 0;
          right: 0; }
      .gameContentBoard__enemy, .gameContentBoard__player {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px; }
        .gameContentBoard__enemyBlock, .gameContentBoard__playerBlock {
          position: relative; }
          .gameContentBoard__enemyBlock__support, .gameContentBoard__playerBlock__support {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: 1fr 1fr;
            z-index: 20; }
            .gameContentBoard__enemyBlock__supportItem, .gameContentBoard__playerBlock__supportItem {
              width: 32px;
              height: 32px;
              z-index: 21; }
          .gameContentBoard__enemyBlock__dead, .gameContentBoard__playerBlock__dead {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 101; }
            .gameContentBoard__enemyBlock__dead img, .gameContentBoard__playerBlock__dead img {
              width: 100%; }
          .gameContentBoard__enemyBlock__img, .gameContentBoard__playerBlock__img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 10; }
            .gameContentBoard__enemyBlock__img__damage, .gameContentBoard__playerBlock__img__damage {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 32px;
              height: 32px; }
              .gameContentBoard__enemyBlock__img__damage img, .gameContentBoard__playerBlock__img__damage img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 32px !important;
                height: 32px; }
            .gameContentBoard__enemyBlock__img__upgrade, .gameContentBoard__playerBlock__img__upgrade {
              position: absolute;
              right: 0;
              width: 24px;
              height: 24px; }
              .gameContentBoard__enemyBlock__img__upgradeDamage, .gameContentBoard__playerBlock__img__upgradeDamage {
                bottom: 0; }
              .gameContentBoard__enemyBlock__img__upgradeHp, .gameContentBoard__playerBlock__img__upgradeHp {
                bottom: 24px; }
              .gameContentBoard__enemyBlock__img__upgradeArmor, .gameContentBoard__playerBlock__img__upgradeArmor {
                bottom: 48px; }
              .gameContentBoard__enemyBlock__img__upgrade img, .gameContentBoard__playerBlock__img__upgrade img {
                width: 100%; }
            .gameContentBoard__enemyBlock__img img, .gameContentBoard__playerBlock__img img {
              width: 100%; }
    .gameContentMenu {
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(2*510px + 300px);
      font-family: "Balsamiq Sans", sans-serif;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background: rgba(244, 212, 189, 0.9);
      z-index: 10; }
      .gameContentMenu__active {
        padding: 15px; }
        .gameContentMenu__activePerson {
          display: grid;
          grid-template-areas: "img stats upgrades" "about about about" "button button button"; }
          .gameContentMenu__activePerson__stat {
            display: flex;
            align-items: center;
            width: 160px;
            position: relative; }
            .gameContentMenu__activePerson__stats {
              grid-area: stats; }
          .gameContentMenu__activePerson__upgrades {
            margin-top: -64px;
            margin-left: 24px;
            grid-area: upgrades; }
            .gameContentMenu__activePerson__upgradesBlock {
              position: relative;
              background: url("../img/border.png") center no-repeat;
              width: 64px;
              height: 64px; }
              .gameContentMenu__activePerson__upgradesBlock__img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
          .gameContentMenu__activePerson__about {
            grid-area: about;
            font-size: 16px; }
          .gameContentMenu__activePerson__img {
            grid-area: img;
            margin-right: 16px;
            width: 110px;
            height: 110px;
            border: 2px solid saddlebrown; }
            .gameContentMenu__activePerson__img img {
              width: 100%; }
          .gameContentMenu__activePerson__support {
            display: flex;
            column-gap: 5px; }
            .gameContentMenu__activePerson__supportItem {
              border: 1px solid black; }
        .gameContentMenu__activeBlock {
          display: grid;
          grid-template-areas: "img about" "button button";
          column-gap: 15px;
          row-gap: 5px; }
          .gameContentMenu__activeBlock__img {
            grid-area: img;
            position: relative;
            width: 64px;
            height: 64px;
            background: url("../img/border.png") center no-repeat; }
            .gameContentMenu__activeBlock__img img {
              max-width: 100px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
          .gameContentMenu__activeBlock__about {
            grid-area: about;
            font-size: 18px; }
            .gameContentMenu__activeBlock__about__danger {
              margin-top: 10px; }
          .gameContentMenu__activeBlock__button {
            grid-area: button;
            text-align: center; }
        .gameContentMenu__activeHeader {
          text-align: center;
          margin-bottom: 5px;
          color: #424242;
          font-size: 24px; }
      .gameContentMenu__inventory {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 10px;
        z-index: 10;
        border-right: 2px solid saddlebrown; }
        .gameContentMenu__inventory__block {
          text-align: center; }
          .gameContentMenu__inventory__blockHeader {
            margin-bottom: 5px;
            color: #424242;
            font-size: 24px; }
          .gameContentMenu__inventory__blockList {
            margin: 0 auto;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(5, 64px);
            grid-gap: 10px; }
            .gameContentMenu__inventory__blockList__upgrades {
              grid-template-columns: repeat(1, 64px); }
            .gameContentMenu__inventory__blockList__item {
              position: relative;
              background: url("../img/border.png") center no-repeat;
              width: 64px;
              height: 64px; }
              .gameContentMenu__inventory__blockList__item:hover {
                cursor: pointer; }
              .gameContentMenu__inventory__blockList__itemText {
                position: absolute;
                text-align: center;
                bottom: 4px;
                right: 4px;
                background: #e4a672;
                border-top-left-radius: 10px;
                color: #181425;
                width: 24px;
                height: 24px; }
                .gameContentMenu__inventory__blockList__itemText__block {
                  position: absolute;
                  font-weight: 900;
                  font-size: 18px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%); }
              .gameContentMenu__inventory__blockList__itemImg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
                .gameContentMenu__inventory__blockList__itemImg img {
                  width: 100%; }
      .gameContentMenu__characters {
        padding: 10px;
        z-index: 10;
        border-right: 2px solid saddlebrown; }
        .gameContentMenu__charactersHeader {
          margin-bottom: 15px;
          text-align: center;
          color: #424242;
          font-size: 24px; }
        .gameContentMenu__charactersList {
          display: flex;
          column-gap: 15px; }
        .gameContentMenu__charactersBlock {
          z-index: 10; }
          .gameContentMenu__charactersBlock__none {
            width: 60px;
            height: 60px;
            background: #9d532f;
            border: 2px solid #5d4037; }
          .gameContentMenu__charactersBlock__price {
            text-align: center; }
            .gameContentMenu__charactersBlock__priceButton {
              font-size: 20px;
              width: 60px;
              padding-top: 0;
              padding-bottom: 0;
              background: #9d532f;
              border: 1px solid #5d4037;
              color: white; }
          .gameContentMenu__charactersBlock__img {
            margin-bottom: 10px;
            width: 60px;
            height: 60px;
            z-index: 10;
            border: 3px solid #9d532f;
            border-radius: 2px; }
            .gameContentMenu__charactersBlock__img:hover {
              cursor: pointer; }
            .gameContentMenu__charactersBlock__img img {
              width: 100%; }
      .gameContentMenu__popup {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 100; }
        .gameContentMenu__popupText {
          font-size: 24px;
          color: #fff0f4;
          text-shadow: 1px 1px 2px darkgrey, 0 0 5px yellow; }

/*# sourceMappingURL=GamePage.css.map */
